<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
    <meta charset="UTF-8">
    <title>Crear Post</title>
</head>
<body>
    <header th:replace="plantilla/template :: header"></header>

    <div class="container">
    
        <div class="card">
            
            <div class="card-header bg-dark bg-white" th:text="${title}"></div>
            <div class="card-body"></div>

            <form th:action="@{/post/savePost}" th:object="${post}" method="post">

                <input type="hidden" th:field="*{idPost}">
            
            <input class="form-control form-control-lg" type="text" id="title" th:field="*{title}" placeholder="Titulo" aria-label="title">
            <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}"
                th:errors="*{title}">
            </small>

            <div class="mb-3">
                <label for="content" class="form-label"  >Contenido de post</label>
                <textarea class="form-control" type="text" id="content" th:field="*{content}" rows="3"></textarea>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('content')}"
                       th:errors="*{content}">
                </small>
            </div>

            <input class="form-control form-control-lg" type="text" id="image" th:field="*{image}" placeholder="Imagen" aria-label="image">
            

            <select th:field="*{category}" class="form-select" aria-label="Default select example" id="category">

            <option th:each=" category: ${categories}"
                    th:value="${category.name}"
                    th:text="${category.name}"></option>
            </select>

                <div class="card-footer bg-dark">
                    <input type="submit" class="btn btn-primary btn-sm" value="Guardar" />
                </div>
            
            </form>

        </div>

    </div>
    
    <footer th:replace="plantilla/template :: footer"></footer>

</body>
</html>